* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




/*estilos del header*/


header .justicia {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    padding-top: 30vh;
    max-width: 50%;
    max-height: 50%;
}



/*estilos del main*/

body main p {
    font-size: 1.5rem;
    font-family: open sans-serif;
    text-align: center;

}

.contenedor{
    display: flex;
}

main img {
    max-width: 100%;
    max-height: 100%;
}

.contenedor {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.boton1 {
    background-color: #a09293;
    width: 250px;
    height: 65px;
    border-radius: 5px;
    padding: 23px 42px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 20px 2px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 200px;

}

.boton1:hover {
    background-color: #837c7c;
}

.boton2 {
    background-color: #a09293;
    display: inline-block;
    width: 264px;
    height: 65px;
    text-align:center;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    margin: 20px 2px;
    padding: 8px 42px;
    margin-top: 50px;
    margin-left: 200px;
    cursor: pointer;
}

.boton2:hover {
    background-color: #837c7c;
}



/*estilos del section*/

.section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    

}


.section2 div img {
    height: 50%;
    width: 50%;
}

/*estilos del formulario*/

.formulario{
    display: flex;
}

.form-color {
    color: #fff;
    padding: 10px;
   

}




.btn {
    border-radius: 10px;
    display: block;
    width: 220px;
    height: 200px;
    position: relative;
    padding: 20px 35px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}




.btn-green2 {
    padding: 10px;
    width: 300px;
    background: white;
    background: radial-gradient(circle, rgba(235, 231, 231, 0.705) 0%, rgba(200, 185, 185, 0.09007352941176472) 100%);
}


.btn-green2:hover{
    background-color:#423939 ;
}
   
/*

.btn-green2:active{
   }
   
*/

form {

    background-color: #a09293;
    border-radius: 5px;
    color: #999;
    font-size: 20px;
    padding: 50px;
    margin: 50px;
    width: 400px;
    height: 900px;

}


input,
textarea {
    border: 0;
    outline: none;
    width: 180px;

}

.field {
    border: none;
    border-radius: 3px;
    width: 300px;

}

.field:focus {
    border-color: rgb(12, 180, 192);
}

form fieldset {
    height: 300px;
    text-align: center;

}

.consulta {

    height: 200px;
    width: 300px;
    margin-bottom: 5px;


}

/*estilos del footer*/

footer{
    text-align: center;
}

/* estilos de contain */

.contain {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;


    grid-template-areas:
        "header header"
        "main  section"
        "main section"
        "section2 section2"
        "footer footer";
}


header {
    background-color: whitesmoke;
    grid-area: header;
    display: block;
  
}

main {
    background-color: whitesmoke rgb(224, 108, 87);
    grid-area: main;
}

section {
    background-color: whitesmoke rgb(187, 115, 102);
    grid-area: section;
}

.section2 {
    background-color: #3CC93F;
    grid-area: section2;

}

footer {
    background-color: whitesmoke rgb(126, 92, 84);
    grid-area: footer;
}


/* mq */

@media screen and (max-width: 576px) {

    .contain{  

        
        
        
        grid-template-areas: 
         "header"
         "main"
         "section"
         "section2"
         "footer";  
         align-items: center;   


    }  
/* estilos del header */

body header img{
    max-width: 70%;
    margin-right: 68em;
    margin-bottom: 1rem;
}
div h1{
    margin-right: 175vh;
    margin-bottom: 20%;
}
/*estilos del main */

    body main p{
        display: block;
        text-align:start ;
        align-items: start;
        width: 120vh;
        font-size: 18px;
    }

    main p span{
        display: block;
        text-align: start;
        text-size-adjust: 10px;
        width: 100vh;
    }

    main img{
        max-width: 35%;
        max-height: 35%;
        display: block;
        margin-left: 3vh;

      }

  
 
    
      
      .boton1{
        flex-direction: column;
        margin-left: 0%;

        
      }
     
      .boton2{
        flex-direction: column;
        margin-left: 0%;
      }

      .formulario{
        flex-direction: column;
        margin-right: 180vh;
      }
   

      .section2{
        flex-direction: column;
        margin-right: 58em;
        margin-block: 3px;
        
      }

      .img1{
        max-width: 70%;
        max-height: 70%;
        margin: 3em;
      }

      .img2{
        max-width: 70%;
        max-height: 70%;
        margin: 3em;
      }

      .img3{
        max-width: 70%;
        max-height: 70%;
        margin: 3em;
      }

      .img4{
        max-width: 70%;
        max-height: 70%;
        margin: 3em;
      }


     body {
     
      align-items: center;
    
    }

    footer h2{
        display: flex;
        flex-direction: column;
        margin-right: 65em;
        font-size: 1em;
    }

    html, body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
  
}
  